#example-1 {
  color: white;
  background-color: red;
  width: 200px;
  /*height: 100px;*/
  border: 5px dotted green;
  border-radius: 30px;
  padding: 25px;
  margin: 30px;
}
h1 {
  color: black;
  background-color: darkgoldenrod;
  height: 120px;
  border: 2px dashed rgb(80, 5, 30);
  border-radius: 30px;
  padding: 10px;
  margin: 40px;
}
h2 {
  background-color: rgb(151, 110, 134);
  color: rgb(7, 47, 134);
  width: 120px;
  border: 2px dashed rgb(0, 255, 115);
  border-radius: 33px;
  padding: 15px;
  margin: 55px;
}
h3 {
  background-color: rgb(241, 141, 9);
  color: rgb(0, 0, 0);
  height: 78px;
  border: 5px dashed rgb(0, 255, 115);
  border-radius: 33px;
  padding: 55px;
  margin: 66px;
}
h4 {
  background-color: rgb(53, 40, 48);
  color: rgb(190, 133, 9);
  width: 140px;
  border: 20px dashed rgb(15, 4, 4);
  border-radius: 23px;
  padding: 30px;
  margin: 75px;
  font-size: 20px;
}
article
{
  color: black;
  background-color: rgb(255, 188, 17);
  width: 90px ;
  border: 2px solid rgb(119, 29, 29);
  padding: 30px;
  border-radius: 15px;
  margin: 200px;
  text-align: inherit;
  font-size: 25px;
  padding: 20mm;
  text-transform: lowercase; 
}
section
{
  background-color: darkred;
  background-position: center;
  border: 5px dotted burlywood;
  height: 180px;
  width: 100px;
  font-style: initial;
  font-size: 110%;
  margin: 500px;

}