#example-1 {
  color: white;
  background-color: red;
  width: 200px;
  /*height: 100px;*/
  border: 5px dotted green;
  border-radius: 30px;
  padding: 25px;
  margin: 30px;
}
h1 {
  color: black;
  background-color: darkgoldenrod;
  height: 120px;
  border: 2px dashed rgb(80, 5, 30);
  border-radius: 30px;
  padding: 10px;
  margin: 40px;
}
h2 {
  background-color: rgb(151, 110, 134);
  color: rgb(7, 47, 134);
  width: 120px;
  border: 2px dashed rgb(0, 255, 115);
  border-radius: 33px;
  padding: 15px;
  margin: 55px;
}
h3 {
  background-color: rgb(241, 141, 9);
  color: rgb(0, 0, 0);
  height: 78px;
  border: 5px dashed rgb(0, 255, 115);
  border-radius: 33px;
  padding: 55px;
  margin: 66px;
}
h4 {
  background-color: rgb(53, 40, 48);
  color: rgb(190, 133, 9);
  width: 140px;
  border: 20px dashed rgb(15, 4, 4);
  border-radius: 23px;
  padding: 30px;
  margin: 75px;
  font-size: 20px;
}
article
{
  color: black;
  background-color: rgb(255, 188, 17);
  width: 90px ;
  border: 2px solid rgb(119, 29, 29);
  padding: 30px;
  border-radius: 15px;
  margin: 200px;
  text-align: inherit;
  font-size: 25px;
  padding: 20mm;
  text-transform: lowercase; 
}
section
{
  background-color: darkred;
  background-position: center;
  border: 5px dotted burlywood;
  height: 180px;
  width: 100px;
  font-style: initial;
  font-size: 110%;
  margin: 500px;
}
address
{
  color: aliceblue;
  background-color: crimson;
  width: 140px;
  border: 20px solid rgb(53, 0, 0);
  border-radius: 33px;
  padding: 29px;
  margin: 70px;
  font-size: 28px;
}
#example-1
{
  color: black;
  background-color: white;
  border: 5px solid black;
  padding: 15px;
  margin: 10px;
  border-radius: 0px;
  font-size: 50px
}
#example-2
{
  color: black;
  background-color: rgb(199, 63, 63);
  border: 5px solid rgb(199, 63, 63);
  padding: 20px 5px;
  margin: 10px;
  border-radius: 0px;
  font-size: 50px
}
#example-3
{
  color:red;
  background-color:white;
  border: 5px dashed red;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 0px;
  font-size: 40px
}
#example-4
{
  color: rgb(6, 15, 153);
  background-color: white;
  border: 15px dotted rgb(0, 75, 16);
  padding: 5px 70px;
  margin: 10px;
  border-radius: 0px;
  font-size: 30px 
}
#example-5
{
  color: rgb(228, 88, 24);
  background-color: white;
  border-top: 15px solid rgb(3, 107, 29);
  border-left: 15px solid rgb(41, 78, 148);
  border-right: 15px solid black;
  border-bottom:15px solid rgb(189, 89, 89);
  padding: 5px 15px;
  margin: 10px;
  border-radius: 0px;
  font-size: 30px
}
#example-6
{
  color:white;
  background-color: black;
  border: 1px solid black;
  padding: 10px 10px 5px 100px;
  margin: 10px;
  border-radius: 0px;
  font-size: 30px
}
#example-7
{
  color: rgb(221, 166, 82);
  background-color: rgb(219, 213, 188);
  border: 8px solid rgb(221, 166, 82);
  padding: 15px 100px 10px 20px;
  margin: 10px;
  border-radius: 0px;
  font-size: 28px
}
  #example-1 {
    color: white;
    background-color: red;
    width: 200px;
    /*height: 100px;*/
    border: 5px dotted green;
    border-radius: 30px;
    padding: 25px;
    margin: 30px;
  }
  h1 {
    color: black;
    background-color: darkgoldenrod;
    height: 120px;
    border: 2px dashed rgb(80, 5, 30);
    border-radius: 30px;
    padding: 10px;
    margin: 40px;
  }
  h2 {
    background-color: rgb(151, 110, 134);
    color: rgb(7, 47, 134);
    width: 120px;
    border: 2px dashed rgb(0, 255, 115);
    border-radius: 33px;
    padding: 15px;
    margin: 55px;
  }
  h3 {
    background-color: rgb(241, 141, 9);
    color: rgb(0, 0, 0);
    height: 78px;
    border: 5px dashed rgb(0, 255, 115);
    border-radius: 33px;
    padding: 55px;
    margin: 66px;
  }
  h4 {
    background-color: rgb(53, 40, 48);
    color: rgb(190, 133, 9);
    width: 140px;
    border: 20px dashed rgb(15, 4, 4);
    border-radius: 23px;
    padding: 30px;
    margin: 75px;
    font-size: 20px;
  }
  article
  {
    color: black;
    background-color: rgb(255, 188, 17);
    width: 90px ;
    border: 2px solid rgb(119, 29, 29);
    padding: 30px;
    border-radius: 15px;
    margin: 200px;
    text-align: inherit;
    font-size: 25px;
    padding: 20mm;
    text-transform: lowercase; 
  }
  section
  {
    background-color: darkred;
    background-position: center;
    border: 5px dotted burlywood;
    height: 180px;
    width: 100px;
    font-style: initial;
    font-size: 110%;
    margin: 500px;
  }
  address
  {
    color: aliceblue;
    background-color: crimson;
    width: 140px;
    border: 20px solid rgb(53, 0, 0);
    border-radius: 33px;
    padding: 29px;
    margin: 70px;
    font-size: 28px;
  }
  #example-1
  {
    color: black;
    background-color: white;
    border: 5px solid black;
    padding: 15px;
    margin: 10px;
    border-radius: 0px;
    font-size: 50px
  }
  #example-2
  {
    color: black;
    background-color: rgb(199, 63, 63);
    border: 5px solid rgb(199, 63, 63);
    padding: 20px 5px;
    margin: 10px;
    border-radius: 0px;
    font-size: 50px
  }
  #example-3
  {
    color:red;
    background-color:white;
    border: 5px dashed red;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 0px;
    font-size: 40px
  }
  #example-4
  {
    color: rgb(6, 15, 153);
    background-color: white;
    border: 15px dotted rgb(0, 75, 16);
    padding: 5px 70px;
    margin: 10px;
    border-radius: 0px;
    font-size: 30px 
  }
  #example-5
  {
    color: rgb(228, 88, 24);
    background-color: white;
    border-top: 15px solid rgb(3, 107, 29);
    border-left: 15px solid rgb(41, 78, 148);
    border-right: 15px solid black;
    border-bottom:15px solid rgb(189, 89, 89);
    padding: 5px 15px;
    margin: 10px;
    border-radius: 0px;
    font-size: 30px
  }
  #example-6
  {
    color:white;
    background-color: black;
    border: 1px solid black;
    padding: 10px 10px 5px 100px;
    margin: 10px;
    border-radius: 0px;
    font-size: 30px
  }
  #example-7
  {
    color: rgb(221, 166, 82);
    background-color: rgb(211, 197, 134);
    border: 5px solid rgb(221, 166, 82);
    padding: 15px 50px 10px 10px;
    margin: 10px;
    border-radius: 0px;
    font-size: 50px
  }

  #example-1{
    color: white;
    background-color: red;
    width: 200px;
    /*height: 100px;*/
    border: 5px dotted green;
    border-radius: 30px;
    padding: 25px;
    margin: 30px;
  }
  h1 {
    color: black;
    background-color: darkgoldenrod;
    height: 120px;
    border: 2px dashed rgb(80, 5, 30);
    border-radius: 30px;
    padding: 10px;
    margin: 40px;
  }
  h2 {
    background-color: rgb(151, 110, 134);
    color: rgb(7, 47, 134);
    width: 120px;
    border: 2px dashed rgb(0, 255, 115);
    border-radius: 33px;
    padding: 15px;
    margin: 55px;
  }
  h3 {
    background-color: rgb(241, 141, 9);
    color: rgb(0, 0, 0);
    height: 78px;
    border: 5px dashed rgb(0, 255, 115);
    border-radius: 33px;
    padding: 55px;
    margin: 66px;
  }
  h4 {
    background-color: rgb(53, 40, 48);
    color: rgb(190, 133, 9);
    width: 140px;
    border: 20px dashed rgb(15, 4, 4);
    border-radius: 23px;
    padding: 30px;
    margin: 75px;
    font-size: 20px;
  }
  article
  {
    color: black;
    background-color: rgb(255, 188, 17);
    width: 90px ;
    border: 2px solid rgb(119, 29, 29);
    padding: 30px;
    border-radius: 15px;
    margin: 200px;
    text-align: inherit;
    font-size: 25px;
    padding: 20mm;
    text-transform: lowercase; 
  }
  section
  {
    background-color: darkred;
    background-position: center;
    border: 5px dotted burlywood;
    height: 180px;
    width: 100px;
    font-style: initial;
    font-size: 110%;
    margin: 500px;
  }
  address
  {
    color: aliceblue;
    background-color: crimson;
    width: 140px;
    border: 20px solid rgb(53, 0, 0);
    border-radius: 33px;
    padding: 29px;
    margin: 70px;
    font-size: 28px;
  }
  #example-1
  {
    color: black;
    background-color: white;
    border: 5px solid black;
    padding: 15px;
    margin: 10px;
    border-radius: 0px;
    font-size: 50px
  }
  #example-2
  {
    color: black;
    background-color: rgb(199, 63, 63);
    border: 5px solid rgb(199, 63, 63);
    padding: 20px 5px;
    margin: 10px;
    border-radius: 0px;
    font-size: 50px
  }
  #example-3
  {
    color:red;
    background-color:white;
    border: 5px dashed red;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 0px;
    font-size: 40px
  }
  #example-4
  {
    color: rgb(6, 15, 153);
    background-color: white;
    border: 15px dotted rgb(0, 75, 16);
    padding: 5px 70px;
    margin: 10px;
    border-radius: 0px;
    font-size: 30px 
  }
  #example-5
  {
    color: rgb(228, 88, 24);
    background-color: white;
    border-top: 15px solid rgb(3, 107, 29);
    border-left: 15px solid rgb(41, 78, 148);
    border-right: 15px solid black;
    border-bottom:15px solid rgb(189, 89, 89);
    padding: 5px 15px;
    margin: 10px;
    border-radius: 0px;
    font-size: 30px
  }
  #example-6
  {
    color:white;
    background-color: black;
    border: 1px solid black;
    padding: 10px 10px 5px 100px;
    margin: 10px;
    border-radius: 0px;
    font-size: 30px
  }
  #example-7
  {
    color: white;
    background-color: blue;
    border: 5px solid white;
    padding: 15px;
    margin: 10px;
    border-radius: 0px;
    font-size: 50px
  }
    #example-1 {
      color: white;
      background-color: red;
      width: 200px;
      /*height: 100px;*/
      border: 5px dotted green;
      border-radius: 30px;
      padding: 25px;
      margin: 30px;
    }
    h1 {
      color: black;
      background-color: darkgoldenrod;
      height: 120px;
      border: 2px dashed rgb(80, 5, 30);
      border-radius: 30px;
      padding: 10px;
      margin: 40px;
    }
    h2 {
      background-color: rgb(151, 110, 134);
      color: rgb(7, 47, 134);
      width: 120px;
      border: 2px dashed rgb(0, 255, 115);
      border-radius: 33px;
      padding: 15px;
      margin: 55px;
    }
    h3 {
      background-color: rgb(241, 141, 9);
      color: rgb(0, 0, 0);
      height: 78px;
      border: 5px dashed rgb(0, 255, 115);
      border-radius: 33px;
      padding: 55px;
      margin: 66px;
    }
    h4 {
      background-color: rgb(53, 40, 48);
      color: rgb(190, 133, 9);
      width: 140px;
      border: 20px dashed rgb(15, 4, 4);
      border-radius: 23px;
      padding: 30px;
      margin: 75px;
      font-size: 20px;
    }
    article
    {
      color: black;
      background-color: rgb(255, 188, 17);
      width: 90px ;
      border: 2px solid rgb(119, 29, 29);
      padding: 30px;
      border-radius: 15px;
      margin: 200px;
      text-align: inherit;
      font-size: 25px;
      padding: 20mm;
      text-transform: lowercase; 
    }
    section
    {
      background-color: darkred;
      background-position: center;
      border: 5px dotted burlywood;
      height: 180px;
      width: 100px;
      font-style: initial;
      font-size: 110%;
      margin: 500px;
    }
    address
    {
      color: aliceblue;
      background-color: crimson;
      width: 140px;
      border: 20px solid rgb(53, 0, 0);
      border-radius: 33px;
      padding: 29px;
      margin: 70px;
      font-size: 28px;
    }
    #example-1
    {
      color: black;
      background-color: white;
      border: 5px solid black;
      padding: 15px;
      margin: 10px;
      border-radius: 0px;
      font-size: 50px
    }
    #example-2
    {
      color: black;
      background-color: rgb(199, 63, 63);
      border: 5px solid rgb(199, 63, 63);
      padding: 20px 5px;
      margin: 10px;
      border-radius: 0px;
      font-size: 50px
    }
    #example-3
    {
      color:red;
      background-color:white;
      border: 5px dashed red;
      padding: 5px 10px;
      margin: 10px;
      border-radius: 0px;
      font-size: 40px
    }
    #example-4
    {
      color: rgb(6, 15, 153);
      background-color: white;
      border: 15px dotted rgb(0, 75, 16);
      padding: 5px 70px;
      margin: 10px;
      border-radius: 0px;
      font-size: 30px 
    }
    #example-5
    {
      color: rgb(228, 88, 24);
      background-color: white;
      border-top: 15px solid rgb(3, 107, 29);
      border-left: 15px solid rgb(41, 78, 148);
      border-right: 15px solid black;
      border-bottom:15px solid rgb(189, 89, 89);
      padding: 5px 15px;
      margin: 10px;
      border-radius: 0px;
      font-size: 30px
    }
    #example-6
    {
      color:white;
      background-color: black;
      border: 1px solid black;
      padding: 10px 10px 5px 100px;
      margin: 10px;
      border-radius: 0px;
      font-size: 30px
    }
    #example-7
    {
      color: rgb(221, 166, 82);
      background-color: rgb(211, 197, 134);
      border: 5px solid rgb(221, 166, 82);
      padding: 15px 50px 10px 10px;
      margin: 10px;
      border-radius: 0px;
      font-size: 50px
    }
      #example-1 {
        color: white;
        background-color: red;
        width: 200px;
        /*height: 100px;*/
        border: 5px dotted green;
        border-radius: 30px;
        padding: 25px;
        margin: 30px;
      }
      h1 {
        color: black;
        background-color: darkgoldenrod;
        height: 120px;
        border: 2px dashed rgb(80, 5, 30);
        border-radius: 30px;
        padding: 10px;
        margin: 40px;
      }
      h2 {
        background-color: rgb(151, 110, 134);
        color: rgb(7, 47, 134);
        width: 120px;
        border: 2px dashed rgb(0, 255, 115);
        border-radius: 33px;
        padding: 15px;
        margin: 55px;
      }
      h3 {
        background-color: rgb(241, 141, 9);
        color: rgb(0, 0, 0);
        height: 78px;
        border: 5px dashed rgb(0, 255, 115);
        border-radius: 33px;
        padding: 55px;
        margin: 66px;
      }
      h4 {
        background-color: rgb(53, 40, 48);
        color: rgb(190, 133, 9);
        width: 140px;
        border: 20px dashed rgb(15, 4, 4);
        border-radius: 23px;
        padding: 30px;
        margin: 75px;
        font-size: 20px;
      }
      article
      {
        color: black;
        background-color: rgb(255, 188, 17);
        width: 90px ;
        border: 2px solid rgb(119, 29, 29);
        padding: 30px;
        border-radius: 15px;
        margin: 200px;
        text-align: inherit;
        font-size: 25px;
        padding: 20mm;
        text-transform: lowercase; 
      }
      section
      {
        background-color: darkred;
        background-position: center;
        border: 5px dotted burlywood;
        height: 180px;
        width: 100px;
        font-style: initial;
        font-size: 110%;
        margin: 500px;
      }
      address
      {
        color: aliceblue;
        background-color: crimson;
        width: 140px;
        border: 20px solid rgb(53, 0, 0);
        border-radius: 33px;
        padding: 29px;
        margin: 70px;
        font-size: 28px;
      }
      #example-1
      {
        color: black;
        background-color: white;
        border: 5px solid black;
        padding: 15px;
        margin: 10px;
        border-radius: 0px;
        font-size: 50px
      }
      #example-2
      {
        color: black;
        background-color: rgb(199, 63, 63);
        border: 5px solid rgb(199, 63, 63);
        padding: 20px 5px;
        margin: 10px;
        border-radius: 0px;
        font-size: 50px
      }
      #example-3
      {
        color:red;
        background-color:white;
        border: 5px dashed red;
        padding: 5px 10px;
        margin: 10px;
        border-radius: 0px;
        font-size: 40px
      }
      #example-4
      {
        color: rgb(6, 15, 153);
        background-color: white;
        border: 15px dotted rgb(0, 75, 16);
        padding: 5px 70px;
        margin: 10px;
        border-radius: 0px;
        font-size: 30px 
      }
      #example-5
      {
        color: rgb(228, 88, 24);
        background-color: white;
        border-top: 15px solid rgb(3, 107, 29);
        border-left: 15px solid rgb(41, 78, 148);
        border-right: 15px solid black;
        border-bottom:15px solid rgb(189, 89, 89);
        padding: 5px 15px;
        margin: 10px;
        border-radius: 0px;
        font-size: 30px
      }
      #example-6
      {
        color:white;
        background-color: black;
        border: 1px solid black;
        padding: 10px 10px 5px 100px;
        margin: 10px;
        border-radius: 0px;
        font-size: 30px
      }
      #example-7
      {
        color: rgb(221, 166, 82);
        background-color: rgb(211, 197, 134);
        border: 5px solid rgb(221, 166, 82);
        padding: 15px 50px 10px 10px;
        margin: 10px;
        border-radius: 0px;
        font-size: 50px
      }
      #example-8
      {
        color: rgb(255, 255, 255);
        background-color: rgb(50, 4, 255);
        border: 5px solid rgb(255, 255, 255);
        padding: 15px;
        margin: 10px;
        border-radius: 0px;
        font-size: 50px
      }
    
  